<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Alchemy Test</title>
        <!--this is the jquery we need-->
        <script src="jquery/dist/jquery.js" charset="utf-8"></script>
        <!--This is the stuffs we need for icons from google-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>

        <header>
            <nav>
                <div class="container">
                    <div class="nav-wrapper">
                      <a href="#" class="brand-logo">AlchemyAPI Test</a>
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a target="_blank" href="https://github.com/ChannelJuanNews/TwitterAlchemy">Check The Code Out</a></li>
                      </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <br><br><br><br>

            <div class="container center">
                <% if (sentiments) { %>
                    <h1> <%= sentiments %> </h1>
                <% } else { %>
                    <h1>No Sentimens were given</h1>
                <% } %>


                <% if (tweets) { %>

                    <div class="collection">
                        <% for (var i = 0; i < tweets.length; i++) { %>
                            <a href="#!" class="collection-item"> <%= tweets[i].text %> </a>
                        <% } %>
                    </div>

                <% } else { %>
                    <h1>No Sentimens were given</h1>
                <% } %>

            </div>

            <br><br><br><br>

        </main>


        <footer></footer>

        <!--This is where we hit up all our css and javascript-->
        <script src="Materialize/bin/materialize.js" charset="utf-8"></script>
        <link rel="stylesheet" href="Materialize/bin/materialize.css" media="screen" title="no title" charset="utf-8">
    </body>
</html>
